<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="c.aarsh121.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"
        android:resizeable="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5404724432369100~7652270951" />

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
        <activity
            android:name=".aboutapp"
            android:configChanges="orientation"
            android:label="@string/title_activity_aboutapp"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="c.aarsh121.myapplication.MainActivity" />
        </activity>
        <activity
            android:name=".projects"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Quizes"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".beginners_level"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".course_context_2"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".course_context_3"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".android_introduction"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".introduction1"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".software_stack"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".art_dvm"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".setup"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".android_device"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".project_structure"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".manifestxml"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".androidJava"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Androidres"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".layout"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".linearlayout"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".relativelayout"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".notification"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitybutton"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".intent"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fragment"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ifcommunication"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".creating_menu"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".service_lifecycle"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xmlx"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".xmlparse"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".starter"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".json"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jsonparse"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".advancedui"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".datastorage"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".sharedpreference"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".storagetypes"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".process"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".thread"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".handlersloopers"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ipc"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".firebase"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".demo" />
        <activity
            android:name=".splashrun"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".splashcode" />
        <activity android:name=".toastcode" />
        <activity android:name=".webview" />
        <activity android:name=".webviewcode" />
        <activity android:name=".snakbarrun" />
        <activity android:name=".snackbarcode"></activity>
    </application>

</manifest>